*{
margin: 0;
padding: 0;
box-sizing: border-box;
}

body {
    font-family: sans-serif;
    cursor: default;
    color: white;
    background-color: #212121;
}

/* Typography - CD LIST STYLE*/

.title {
    text-transform: uppercase;
    font-size: 20px;
    margin: 20px 0;
}

.author {
    font-size: 18px;
}

.author,
.year {
    color: #808080;
    margin-bottom: 10px;
}


/*  Header */

.logo-wrapper {
    margin-top: 50px;
    background-color: #2b3a47;
    padding: 10px 10px 5px;
}

.logo-wrapper img {
    max-height: 50px;
}

/* Main */
.cd-wrapper {
    background-color: #192d3c;
    margin-bottom: 50px;
    text-align: center;
}


/* Main | Filter*/

.filter-wrapper {
    padding-top: 50px;
}

p.filter {
    display: inline-block;
}

.filter-wrapper select {
    width: 60px;
    margin-left: 10px;
}

/*  Main | Cd List */

.cd-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    list-style: none;
    padding: 50px 10px;

}

.cd {
    flex-basis: 200px;
    margin: 10px 20px; 
    padding: 20px;
    text-align: center;
    background-color: #2b3a47;
}

.image-wrapper {
    min-height: 170px;
}

.image-wrapper img {
    width: 100%;
}