<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Vue -->
    <script src='https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.12/vue.js'></script>
    <!-- Css -->
    <link rel="stylesheet" href="./css/style.css">
    <title>My disc collection by Vue&Api</title>
</head>
<body>
    <div id="app">
        <header>
            <div class="logo-wrapper">
                <img src="./img/logo.png" alt="list-logo">
            </div>
        </header>
        <main>
            <div class="cd-wrapper">
                <!-- Select by genre -->
                <div class="filter-wrapper">
                    <p class="filter">Filter by genre:</p>
                    <select name="" id="">
                        <option value="">All</option>
                    </select>
                </div>
                
                <!-- List cd -->
                <ul v-if="cds.length > 0" class="cd-list">
                    <li v-for="cd in cds"class="cd">
                        <div class="image-wrapper">
                           <img :src="cd.poster" :alt="cd.title"> 
                        </div>                        
                        <h3 class="title">{{cd.title}}</h3>
                        <div class="author">{{cd.author}}</div>
                        <div class="year">{{cd.year}}</div>
                        <div class="genre">{{cd.genre}}</div>
                    </li>
                </ul>
            </div>
            <h2 v-else class="loader">
                Loading list, please wait...
            </h2>
        </main>

    </div>
    <!-- Axios -->
    <script src='https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.0/axios.min.js'></script>
    <!-- JS -->
    <script src="./js/main.js"></script>
</body>
</html>